*{
    text-align: center;
}
#mainTopic{
    color: blue;
}
h1,h3,h5{
    font-family: "Georgia";
}
.para{
    color: white;
    background-color: cornflowerblue;
}
div button{
    color: azure;
    background-color: purple;
}
/* part B */
button:hover{
    color: blue;
    background-color: yellow;
}
p:nth-of-type(odd){
    color:yellow;
}
h1::first-letter{
    color: red;
}
input[type="checkbox"]:checked+label{
    color: darkgreen;
}

/* 
Q10:Order is a follows 
div .main
#mainContent
.main
h1 
*/